<?xml version="1.0" encoding="utf-8" ?>
 <!-- for more info see 
      http://msdn.microsoft.com/en-us/library/bbx34a2h.aspx
      http://msdn.microsoft.com/en-us/library/kza1yk3a.aspx
      https://stackoverflow.com/questions/3468964/error-2896-using-a-wix-c-net-4-custom-action
      https://stackoverflow.com/questions/3298304/wix-custom-actions-built-for-net-framework-4-0-does-not-work-ways-to-resolve#14230260 
 -->
  <configuration>
     <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v2.0.50727" />
     </startup>
  </configuration>
